<div class="p-fluid p-formgrid grid" style="background-color: red;">
    <div class="field col-3">
        <img src="../../../assets/imgs/logo.avif" alt="" width="300">
    </div>
    <div class="field col-6">
        <div class="flex flex-column align-items-center justify-content-center">
            <h3 class="my-0">TTN Transportes y Traslados del Norte</h3>
            <h4 class="my-0">Constancia de traslado</h4>
            <span>Correos: _____ Y oziel.molina&#64;transportesttn.com</span>
            <span>Teléfono: 8443800905</span>
            <label>Pagina </label>
            <div class="flex gap-2">
                <div class="flex align-items-center">
                    <p-radioButton></p-radioButton>
                    <label></label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton></p-radioButton>
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="field col-3"></div>
</div>