:host ::ng-deep {
    .speeddial-circle-demo {
        .p-speeddial-quarter-circle {
            &.p-speeddial-direction-up-left {
                right: 0;
                bottom: 0;
            }

            &.p-speeddial-direction-up-right {
                left: 0;
                bottom: 0;
            }

            &.p-speeddial-direction-down-left {
                right: 0;
                top: 0;
            }

            &.p-speeddial-direction-down-right {
                left: 0;
                top: 0;
            }
        }
    }
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50% !important;
}
:host ::ng-deep .p-icon {
    width: 1rem !important;
    height: 1rem !important;
}